@tailwind base;
@tailwind components;
@tailwind utilities;

/* This is an input file and also custom css file */
.hero {
  /* height: 600px; */

  background-image: url("../images/bg-pattern-intro-mobile.svg"),
    linear-gradient(to right bottom, #ff8f70, #ff3d54);
  background-repeat: no-repeat, no-repeat;
  background-size: 300%, 100%;
  background-position: top 50% center, center;
  border-bottom-left-radius: 100px;
}

.art {
  /* height: 630px; */
  background-image: url("../images/bg-pattern-circles.svg"),
    linear-gradient(to right bottom, hsl(237, 17%, 21%), hsl(237, 23%, 32%));
  background-repeat: no-repeat, no-repeat;
  background-size: 150%, 100%;
  background-position: top -550% center, center;
  border-bottom-left-radius: 100px;
  border-top-right-radius: 120px;
}

.footer {
  /* height: 900px; */
  background-image: linear-gradient(hsl(240, 10%, 16%), hsl(240, 10%, 16%));
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  border-top-right-radius: 100px;
}

.hero__btn {
  @apply w-36 h-12 rounded-full grid place-items-center font-op font-bold;
}

h3 {
  @apply text-2xl text-center font-op text-vd-blue font-semibold mb-6;
}

.design__content {
  @apply mt-12 mx-12 text-center text-vdg-blue;
}

.design__desc {
  @apply leading-7 text-vdg-blue;
}

h4 {
  @apply text-white text-center mb-8;
}

.footer__list > * {
  @apply text-g-blue text-center mb-1.5;
}
